/* @override 
	http://skiffprofile.herokuapp.com/static/css/site.css */

/**********************
 * Some defaults from the Twitter Bootstrap examples
 ***********************/
html, body {
  background-color: #eee;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
  min-height: 500px;
}
/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

.topbar .btn {
  border: 0;
}

/* ======== */
/* Profiles */
/* ======== */

img.profile_image {
    float: left;
    margin-right: 1em;
}

.profile-details div {
    margin-bottom: 0.5em;
    margin-right: 2em;
    float: left;
}

.profile-details .clearfix {
    heigh
}

.twtr-hd, .twtr-ft {
    display: none;
}

h1 a {
    color: black;
}


.profile-list .profile {
    width:  160px;
    margin-bottom: 1em;
    float: left;
    text-align: center;
}

div.profile div.presence {
  position : absolute;
  width : 12px;
  height :12px;
  margin-left: 106px;
  margin-top: 66px;
  border: 1px solid black;
}
  
body.presenceLoaded div.profile.available div.presence {
  background: -moz-linear-gradient(90deg, #0ea100 0%, #33d300 100%), no-repeat left top #15bd1a;
  background: -webkit-gradient(linear, left bottom, left top, from(#0ea100), to(#33d300)), no-repeat left top #15bd1a;
  border: 0px;
}

body.presenceLoaded div.profile div.presence {
  background: -moz-linear-gradient(90deg, #0e0e0e 0%, #333333 100%), no-repeat left top #15bd1a;
  background: -webkit-gradient(linear, left bottom, left top, from(#0e0e0e), to(#333333)), no-repeat left top #15bd1a;
  border: 0px;
}

div.profile.available .name {
    color: green;
    font-weight: bold;
}

span#attheskiff.available {
    color: green;
    font-weight: bold;
}
