{% extends "base.html" %}

{%block page-heading %}
Skiff Profiles
{% endblock %}

{% block page-subheading %}{% endblock %}


{% block content %}
<div class="profile-list">
  {% for profile in profile_list %}
  <div class="profile e{{ profile.hash }}">
    <a href="{{profile.get_absolute_url}}">
      <div class="presence"></div>
      <img src="{{profile.profile_image}}" alt="{{profile.real_name}}'s profile image" width="80" height="80"/>
      <div class="name">{{ profile.real_name }}</div>
    </a>
  </div>
  {% endfor %}
</div>
<div style="clear:both"></div>
{% endblock content %}


{% block footer-top %}
<p><a href=".json">JSON</a></p>
{% endblock %}
