{% extends "base.html" %}

{%block page-heading %}
Skiff Profiles
{% endblock %}

{% block page-subheading %}{% endblock %}


{% block content %}

<ul class="thumbnails profile-list">
  {% for profile in profile_list %}
  <li class="profile e{{ profile.hash }}">
    <div class="thumbnail">
      <a href="{{ profile.get_absolute_url }}">
        <div class="presence"></div>
        <img src="{{ profile.profile_image }}" alt="{{ profile.real_name }}'s profile image" width="80" height="80" />
        <div class="name">{{ profile.real_name }}</div>
      </a>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock content %}


{% block footer-top %}
<p><a href=".json">JSON</a></p>
{% endblock %}
